* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(207, 32, 207, 0.19) 0px 10px 20px, rgba(203, 36, 178, 0.23) 0px 6px 6px;
    background-color: blueviolet;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: purple;
}

.navbar-menu-toggle {
    display: none;
}

/* side navbar */
.side-navbar {
    background-color: purple;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    /* display: none; */
    transition: 1s;
}

.side-navbar-items {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    cursor: pointer;
}

/* service */
.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
}

/* new arrival */
.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: purple;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

/* news */
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: purple;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid purple 3px;
}

.news button {
    margin-top: 10px;
    color: pink;
    background-color: purple;
    border-radius: 10px;
    padding: 10px;
}

/* footer */
.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: purple;
    color: pink;
}

/* product */
.product-section {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: solid purple 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    text-align: center;
    flex-basis: 20%;
}

.products-box img {
    border-radius: 10px;
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: purple;
}
.contact-us{
    background-color: purple;
    color: pink;
    border-radius: 1px;
    margin-top: 10px;
    border: none;
    padding: 20px 10px 20px 10px;
}

/* Media Query */
@media screen and (max-width: 700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}